* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;

}

h1 {
    font-size: 50px;
    line-height: 64px;

}

h2 {
    font-size: 46px;
    line-height: 54px;

}

h4 {
    font-size: 20px;


}

h6 {
    font-size: 12px;
    font-weight: 700;


}

p {
    font-size: 16px;
    margin: 15px 0 20px 0;

}

.section-p1 {
    padding: 30px 40px;

}

html,
body {
    width: 100%;
    height: 100%;
    background-color: rgb(208, 214, 218);
}

#header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 20px 80px;
    background: #edd343fd;
    box-shadow: 0 5px 15px rgb(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header .img {
    width: 70px;
    height: 60px;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li {
    padding: 0 20px;
    list-style: none;
    position: relative;
}

#navbar .active {
    color: rgb(57, 135, 81);
    ;
}

#navbar a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: black;
}

#navbar a.active:hover,
#navbar a:hover {
    color: rgb(57, 135, 81);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(57, 135, 81);
    position: absolute;
    bottom: -4px;
    left: 20px
}

.normal {
    margin: 20px;
    border: none;
    background-color: transparent;
    background-image: url(po/button.png);
    padding: 14px 60px 20px 80px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(8, 104, 19);
}

#hero {
    background-image: url(po/p.png);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px
}

#feature .f {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.016);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px;

}

#feature {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

#feature .f h4 {
    font-size: 15px;
    font-weight: 600;
    background-color: aqua;
    line-height: 1;
    padding: 9px 10px 6px 3px;
    border-radius: 5px;
}

#feature .f:nth-child(2) h4 {
    background-color: rgb(45, 152, 70);
}

#feature .f:nth-child(3) h4 {
    background-color: rgb(116, 117, 208);
}

#feature .f:nth-child(4) h4 {
    background-color: rgb(195, 166, 63);
}

#feature .f:nth-child(5) h4 {
    background-color: rgb(159, 144, 70);
}

#product {
    text-align: center;
    width: auto;
    height: auto;
}


#product .im {
   width: 20%;

    padding: 10px 12px;
    border: 1px solid #cce7d0;
    background: aliceblue;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.173);
    margin: 15px;
    transition: 0.3s ease;
    position: relative;

}
#product .im:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.438);
    transform: scale(1.1);

}
#product .im img{
    width: 180px;
    object-fit:cover;
    

}

#product .des span {
    font-size: 13px;
    width: 300;

}

#product .des {
    text-align: left;
    text-transform: uppercase;
}

#product .star {
    color: goldenrod;
}
#product .fa-square-plus{
   font-size: 40px;
   color: rgb(41, 182, 55);;
  
}
#product .it{
    display: flex;
    justify-content: center;
    align-items: center;
}

#product #add{
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
   
}

#product .im .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #cce7d0;
    color: rgb(41, 182, 55);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;

}



#product .pro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px;

}
#product .im .cart:hover{
    color: rgb(45, 139, 54);
    cursor: pointer;
}
#newletter .form{
    display: flex;
    width: 40%;
}

#newletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/p/b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #0f042b;
}

#newletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #f5eeeef6;

}
#newletter p{
    font-size: 14px;
    font-weight: 600;
    color: #f5eeeef6;

}
#newletter p span{
    font-size: 14px;
    font-weight: 600;
    color: #c9bb5ef6;

}
#newletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
}
#newletter button{
    background-color: #227f38f6;
    color: #fff;
    white-space: nowrap;
    padding:13px 20px 15px 30px;
}
 .img {
    width: 70px;
    height: 60px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer h{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;

}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
   margin-bottom: 10px ;

}

footer .follow i{
    color: #423e3e;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img{
    border: 1px solid rgb(69, 139, 69);
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover{
    color:rgb(99, 212, 99)
}


@media (max-width:799px) {
   #product .im {
    width: 300px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    background: aliceblue;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.173);
    margin: 15px;
    transition: 0.3s ease;
    position: relative;
}
#product .pro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
}
}
#pageination{
    text-align: center;
}
#pageination a {
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #cce7d0;
    font-weight: 600;
}

#pageination a i{
    font-size: 16px;
    font-weight: 600;
}
.carts.active{
    right: 0;
}
.carts{
    position: fixed;
    top:auto;
    right:-100%;
    width:360px;
    background: #fff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 65px 20px 40px ;
    z-index: 100;
    overflow: auto;
    transition:0.5s ;


}
.cart-title{
    text-align: center;
    font-size: 30px;

}
.cart-box{
    display: flex;
    align-items: center;
    margin-top: 20px;

}
.cart-box img{
    width: 100px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
    margin-right: 20px;

}
.cart-detail{
    display: grid;
    gap: 8px;
    margin-right: auto;
}

.cart-product-title{
    font-size: 16px;
    line-height: 1;
}
.cart-price{
    font-weight: 500;

}
.cart-quantity{
    display: flex;
    width: 100px;
    border:1px solid #999;
    border-radius: 6px;
}

.cart-quantity button{
    background: transparent;
    width: 30px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.cart-quantity #decrement{
    color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;

}
.cart-remove{
    font-size: 25px;
    cursor: pointer;

}
.total{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #333;
    margin-top: 20px;
}
.total-price{
    margin-left: 10px;
    font-weight: 600;

}
.btn-buy{
    display: block;
    padding: 10px 30px ;
    background: orangered;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    margin: 20px auto 0;
    cursor: pointer;
}
#cart-close{
    position:absolute;
    top: 20px;
    right: 15px;
    font-size: 35px;
    cursor: pointer;
}

#page-header.about{

    background-image:url(img/p/banner.png) ;
}

#about{
    display: flex;
    align-items: center;
   

}
#about img{
    width: 50%;
    height: auto;
    padding: 30px;
}
#about-app{
    text-align: center;

}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
    border-radius: 40px;
}
